<html>
	<head>
		<meta charset="UTF-8">
		<title>SDN Project - {{ content }}</title>
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
		{% if content == 'Index' %}
		{% elif content == 'Topology' %}
			<link href="{{ url_for('static', filename='css/ryu-topology.css') }}" rel="stylesheet">
			<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
		{% elif content == 'Statistics' %}
			<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
		{% elif content == 'Learning' %}
			<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
		{% endif %}
	</head>
	<body>
		{% include 'sidebar.html' %}
		{% if content == 'Index' %}
			{% include 'content.html' %}
		{% elif content == 'Topology' %}
			{% include 'topology-content.html' %}
			<script type="text/javascript" src="{{ url_for('static', filename='js/ryu-topology.js') }}"></script>
		{% elif content == 'Statistics' %}
			{% include 'statistics-content.html' %}
			<script type="module" src="{{ url_for('static', filename='js/statistics.js') }}"></script>
		{% elif content == 'Learning' %}
			{% include 'learning-content.html' %}
		{% elif content == 'LearningHost' %}
			{% include 'learning-by-host-content.html' %}
			<script type="module" src="{{ url_for('static', filename='js/learning.js') }}"></script>
		{% endif %}

		<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
	</body>
</html>