<div class="sm:ml-56">
	<div id="topology-viewer">
		<h1 class="text-4xl font-bold my-5">Add Host</h1>
		<h3 class="2xl my-5">
		Selecting Host：
		<select id="learning-add-host-select">
			<option value="10.0.0.2">10.0.0.2</option>
			<option value="10.0.0.3">10.0.0.3</option>
			<option value="10.0.0.4">10.0.0.4</option>
			<option value="10.0.0.5">10.0.0.5</option>
		</select>
		<button id="learning-add-host-button" class="flex-shrink-0 bg-green-300 hover:bg-teal-700 border-green-300 hover:border-teal-700 text-sm border-4 text-white py-1 px-4 rounded" type="button">
			Add
		</button>
		</h3>
	</div>
</div>