<div class="p-4 sm:ml-64">
   <h2 class="text-2xl font-bold my-5 items-center">Reward-based learning system 獎勵式學習系統</h2>
   <h2 class="text-3xl font-bold my-5 items-center">
      Earn credits for watching <span style="color: #347aeb">educational videos</span><br> and redeem them for hours of <span style="color: #eb3446">entertainment videos</span>！
   </h2>
   <h2 class="text-3xl font-bold my-5 items-center">
      觀看<span style="color: #347aeb">教育影片</span>即可賺取點數，並兌換數小時的<span style="color: #eb3446">娛樂影片</span>！
   </h2>
</div>